<!--<p id="notice"><%= notice %></p>-->

<h1>Content Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @content_ratings.each do |content_rating| %>
      <tr>
        <td><%= content_rating.rating %></td>
        <td><%= link_to 'Show', content_rating, class: "btn btn-outline-primaryy" %></td>
        <td><%= link_to 'Edit', edit_content_rating_path(content_rating), class: "btn btn-outline-primary" %></td>
        <td><%= link_to 'Destroy', content_rating, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content Rating', new_content_rating_path, class: "btn btn-outline-primary" %>
