<!--<p id="notice"><%= notice %></p>-->

<h1>Zones</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Content rating</th>
      <th>Content provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td><%= zone.name %></td>
        <td><%= zone.description %></td>
        <td><%= zone.content_rating %></td>
        <td>
          <% provider_id = zone.content_provider_id %>
          <% provider = ContentProvider.find(provider_id) %>
          <%= link_to provider.name, provider %>  
        </td>
        <td><%= link_to 'Show', zone, class: "btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_zone_path(zone), class: "btn btn-outline-primary" %></td>
        <td><%= link_to 'Delete', zone, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zone', new_zone_path, class: "btn btn-primary" %>
